body{
    background-image: url(../img/arm-wrestling-dc-vs-marvel-drawing-venom-bane-nightwing-batman-green-lantern-hulk-the-hulk-wolverine-hd-wallpaper-preview.jpg);
}
ul{/*Lista de Navegacion*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
}
a{/*Ajuste de Color*/
    background-color: wheat;
    padding: 5px 10px;
    border-radius: 15%;
    text-decoration: none;
    color: black;
}
ol{ /*Ajuste de Formulario*/
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: 0 auto;
    resize: none;
    list-style-type: none;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color:wheat
}
.comentario{/*Ajuste del comentario*/
    display: flex;
    flex-direction: column;
    width: 300px;
    color: wheat;
}
@media screen and (max-width: 600px){/*Adaptation a movil firts*/
    ol{
        width:200px;
    }
}
footer{
    color: wheat;
}
#textme{
    resize: none;
}

