body{
    background-image: url(../img/arm-wrestling-dc-vs-marvel-drawing-venom-bane-nightwing-batman-green-lantern-hulk-the-hulk-wolverine-hd-wallpaper-preview.jpg);
}
ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
}
a{
    background-color: wheat;
    padding: 5px 10px;
    border-radius: 15%;
    text-decoration: none;
}
ol{
    color: wheat;
    display: grid;
}
.productos{
    color: wheat;
}
ol{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    grid-gap: 50px;
    height: 50vh;
    list-style-type: none;
    position: relative;
}
img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}
@media screen and (min-width: 600px){
    img {
        width: 50%;
        height: 50%;
        object-fit: cover;
    }
}
