body{
    background-image: url(../img/arm-wrestling-dc-vs-marvel-drawing-venom-bane-nightwing-batman-green-lantern-hulk-the-hulk-wolverine-hd-wallpaper-preview.jpg);
}
ul{ /*Lista de Navegacion*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
}
a{ /*Ajustes de color y tamano a la lista de Navegacion*/
    background-color: wheat;
    padding: 5px 10px;
    border-radius: 15%;
    text-decoration: none;
    color:black
}
ol{/*Grilla para los productos*/
    display: grid;
    grid-template-columns:3fr 3fr;
    grid-template-rows:3fr 3fr;
    justify-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: wheat;
}
@media screen and (max-width: 600px){/*Adaptation a movil firts*/
    ol {
        display: grid;
        grid-template-columns: 1fr;
}
}
footer{
    color: wheat;
}