body{
    background-image: url(../img/arm-wrestling-dc-vs-marvel-drawing-venom-bane-nightwing-batman-green-lantern-hulk-the-hulk-wolverine-hd-wallpaper-preview.jpg);
}
ul{/*Lista de Navegacion*/
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 10px
    
}
a{/*Ajustes de color y tamano de Lista de Navegacion */
    background-color: wheat;
    padding: 5px 10px;
    border-radius: 15%;
    text-decoration: none;
    color:black;
}
@media screen and (min-width: 600px){/*Adaptation a movil firts*/
    body{
        background-image: url(../img/arm-wrestling-dc-vs-marvel-drawing-venom-bane-nightwing-batman-green-lantern-hulk-the-hulk-wolverine-hd-wallpaper-preview.jpg);
    }
    ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
        flex-wrap: wrap;
        gap: 10px
        
    }
}
footer{
    color: wheat;
}