/*todos los titulos*/
/*tamano de titulos*/
.logo:hover {
  width: 20%;
  height: 20%;
  transition: transform 0.5s;
  transform: rotate(360deg);
}

.logo-historia:hover {
  width: 20%;
  height: 20%;
  transition: transform 0.5s;
  transform: rotate(360deg);
}

.logo-galeria:hover {
  width: 20%;
  height: 20%;
  transition: transform 0.5s;
  transform: rotate(360deg);
}

.logo-contacto:hover {
  width: 20%;
  height: 20%;
  transition: transform 0.5s;
  transform: rotate(360deg);
}

.logo-productos:hover {
  width: 20%;
  height: 20%;
  transition: transform 0.5s;
  transform: rotate(360deg);
}

/*inicio*/
body {
  background-image: url(../img/arm-wrestling-dc-vs-marvel-drawing-venom-bane-nightwing-batman-green-lantern-hulk-the-hulk-wolverine-hd-wallpaper-preview.jpg);
}

.logo { /*logo*/
  margin-top: 50px;
}

.cover-inicio {
  width: 100%;
}

.nav-item { /*menu bootstrap*/
  font-weight: bolder;
}

.navbar-brand { /*menu bootstrap*/
  font-weight: bolder;
  background-color: darkseagreen;
  border-radius: 20%;
}

@media only screen and (max-width: 767px) { /*movil firts*/
  .nav-item {
    font-size: large;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) { /*tablet firts*/
  .nav-item {
    font-size: medium;
  }
}
@media only screen and (max-width: 1024px) { /*desktop firts*/
  .nav-item {
    font-size: xx-small;
  }
}
.mx-2 {
  margin-bottom: 20px;
}

footer {
  color: wheat;
}

/*pagina historia*/
.container {
  color: wheat;
  margin-left: 10%;
}

.logo-historia { /*logo*/
  margin-bottom: 2%;
  margin-top: 10px;
}

.vencidas-egipcio {
  width: 50%;
}

/*pagina galeria*/
.logo-galeria {
  margin-top: 50px;
}

.fotos-galeria { /*Ajustes en el tamano de las fotos*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container {
  height: 550px;
  width: auto;
  margin-bottom: -100px;
}

@media screen and (min-width: 1024px) { /*movil firts*/
  .video-container iframe {
    width: 60%;
    height: 60%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) { /*tablet firts*/
  .video-container iframe {
    width: 60%;
    height: 60%;
  }
}
@media only screen and (max-width: 767px) { /*desktop firts*/
  .video-container iframe {
    width: 60%;
    height: 60%;
  }
}
/*pagina contacto*/
.logo-contacto {
  margin-top: 50px;
}

ol { /*formulario color de texto*/
  color: wheat;
  list-style-type: none;
}

h1 { /*titulo*/
  color: wheat;
}

/*pagina productos*/
.logo-productos {
  margin-top: 50px;
}

.color-titulo {
  color: wheat;
}

.card-img-top {
  height: 300px;
  width: 100%;
}

.multispinner, .cupping, .toproll, .cuadrado, .entrenamiento, .strap {
  display: none;
}

#agarremultispinner:checked ~ .multispinner {
  display: block;
}

#agarrecupping:checked ~ .cupping {
  display: block;
}

#agarretoproll:checked ~ .toproll {
  display: block;
}

#agarrecuadrado:checked ~ .cuadrado {
  display: block;
}

#tiradeentrenamiento:checked ~ .entrenamiento {
  display: block;
}

#referrestrap:checked ~ .strap {
  display: block;
}

#todoslosagarres:checked ~ .row .card {
  display: block;
}

#agarremultispinner, #agarrecupping, #agarretoproll, #agarrecuadrado, #tiradeentrenamiento, #referrestrap, #todoslosagarres {
  display: none;
}

label {
  border: solid 1px;
  padding: 7px;
  width: 116px;
  text-align: center;
  cursor: pointer;
}

.referre-strap {
  padding: 13px;
}

.agarre-toproll {
  padding: 2px;
}

.agarre-cupping {
  padding: 2px;
}

.agarre-multispinner {
  padding: 2px;
}

@media screen and (min-width: 768px) { /*movil firts*/
  .container-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) { /*tablet firts*/
  .container-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
h1 {
  color: yellow;
  font-size: 70px;
}

/*# sourceMappingURL=style.css.map */
