.logo:hover{
    width: 20%;
    height: 20%;
    transition: transform 0.50s;
    transform: rotate(360deg)
}

.logo-historia:hover{
    width: 20%;
    height: 20%;
    transition: transform 0.50s;
    transform: rotate(360deg)
}

.logo-galeria:hover{
    width: 20%;
    height: 20%;
    transition: transform 0.50s;
    transform: rotate(360deg)
}

.logo-contacto:hover{
    width: 20%;
    height: 20%;
    transition: transform 0.50s;
    transform: rotate(360deg)
}

.logo-productos:hover{
    width: 20%;
    height: 20%;
    transition: transform 0.50s;
    transform: rotate(360deg)
}